<body>
    
<mat-card class="item">
    <mat-card-title>Cadastro de Veículo</mat-card-title>
    <mat-card-subtitle class="item">Preencha os dados abaixo</mat-card-subtitle>
        <form [formGroup]="formCar" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Nome" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="Ano" formControlName="age">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Combustível" formControlName="fuel">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Marca" formControlName="brand">
            </mat-form-field>
            <div button>
                <input type="submit" class="btn btn-primary mt-4" value="Salvar">
            <button (click)="goToHome()">Voltar</button>
            </div>
        </form>
  </mat-card>

</body>



