<p>Estamos trabalhando para formar a tela de registro!!!</p>

<mat-card>
    <mat-card-title>Cadastro de Veículo</mat-card-title>
    <mat-card-subtitle>Preencha os dados abaixo</mat-card-subtitle>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Ano">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Combustível">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Marca">
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary">Salvar</button>
  </mat-card>



<button (click)="goToHome()">Voltar</button>