<p>Veículos cadastrados</p>
  <mat-card *ngFor=""> 
    <mat-card-title>Lista de veículos</mat-card-title>
    <mat-card-subtitle>Descubra nossos veículos</mat-card-subtitle>
    <mat-card-actions align="end">
      <button>Acessar</button>
    </mat-card-actions>
  </mat-card>
<br>

<ul>

    <li class="item" *ngFor="let vehicle of service.vehicle"> 
    
    <span *ngIf="vehicle.name != null">Nome:  {{ vehicle.name }}</span>
    <span *ngIf="vehicle.age != null">Ano: {{ vehicle.age }} </span>
    <span *ngIf="vehicle.fuel != null">Combustível: {{ vehicle.fuel }} </span>
    <span *ngIf="vehicle.brand != null && vehicle.brand != '' ">Marca: {{ vehicle.brand }} </span>
    
  </li>
</ul>



<button (click)="goToHome()">Voltar</button>