<body>
  <br>
  <mat-card-title>Projeto Alpha</mat-card-title>
  <mat-card class="item" (click)="goToList()">
    <mat-card-title>Lista de veículos</mat-card-title>
    <mat-card-subtitle class="item">Descubra nossos veículos</mat-card-subtitle>
    <mat-card-actions align="end">
      <!-- <button (click)="goToList()">Acessar</button> -->
    </mat-card-actions>
  </mat-card>
<br>
<mat-card class="item" (click)="goToRegistration()">
    <mat-card-title>Cadastro</mat-card-title>
    <mat-card-subtitle class="item">Registre um veículo</mat-card-subtitle>
    <mat-card-actions align="end">
      <!-- <button (click)="goToRegistration()">Acessar</button> -->
    </mat-card-actions>
</mat-card>

</body>