<p>Project Alpha</p>
  <mat-card>
    <mat-card-title>Lista de veículos</mat-card-title>
    <mat-card-subtitle>Descubra nossos veículos</mat-card-subtitle>
    <mat-card-actions align="end">
      <button (click)="goToList()">Acessar</button>
    </mat-card-actions>
  </mat-card>
<br>
<mat-card>
    <mat-card-title>Cadastro</mat-card-title>
    <mat-card-subtitle>Registre um veículo</mat-card-subtitle>
    <mat-card-actions align="end">
      <button (click)="goToRegistration()">Acessar</button>
    </mat-card-actions>
</mat-card>